<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">



<dom-module id="my-login">
  <link rel="import" type="css" href="wellcome.css">
  <template>
    <style include="shared-styles">
      .img-fluid {
        width: 250px;
      }

      .form {
        background: rgba(255, 255, 255, 1);
      }
    </style>

    <div class="form">
      <form class="login-form" onsubmit="return false">
        <img src="https://www.bbva.com/wp-content/uploads/2019/04/Logo-BBVA.jpg" class="img-fluid">
        <br>
        <input type="text" id="inputEmail" class="form-control" placeholder="Usuario o correo" value={{user::input}}>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña"
          value={{password::input}}>
        <dom-if if="{{errorLogin}}">
          <template>
            <span class=""> Error de usuario o contraseña</span>
          </template>
        </dom-if>
        <button href="#" id="login" on-click="handleClick"><span>Log-In</span></button>
      </form>
    </div>


  </template>

  <script>
    //var CryptoJS = require("crypto-js");

    class Login extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {
          user: {
            type: String,
            notify: true
          },
          password: {
            type: String,
            notify: true
          },
          errorLogin: {
            type: String,
            notify: true,
            value: false
          }
        };
      }

      handleClick() {
        var request = new XMLHttpRequest();
        var params = {
          "indentifier": this.user,
          "pswd": this.password,
        }
        var URL = "http://localhost:3000/v2/login/"
        request.open("POST", URL, false)
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.send(JSON.stringify(params));
        var result = JSON.parse(request.responseText);
        const resolvedPageUrl = this.resolveUrl('my-status.html');
        if (!!result.status) {
          this.errorLogin = true;
        } else {
          console.log(result);
          this.errorLogin = false;
          localStorage.setItem("usuario", result.user_id);
          localStorage.setItem("person", result.personnel_id);
          localStorage.setItem("isLoged", true);
          window.location = "/status";
        }
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(Login.is, Login);
  </script>
</dom-module>