<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-prediction">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="row">
      <div class="col-lg-6">
        <div class="card card-custom card-stretch gutter-b">
          <div class="circle">$</div>
          <div id="idChartPred"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-custom card-stretch gutter-b">
          <div class="card-body pt-0 pb-3">
            <div class="tab-content">
              <!--begin::Table-->
              <div>
                <span style="font-size: 24px;">Tu prediccion indica que alcanzaras la meta en un total de: <b>{{numMonths}}</b>
                  meses</span>
              </div>
              <div style="margin-top: 25px; text-align: -webkit-center;">
                <span>Tu promedio por mes es:    $<b>{{movements.average}}</b><a>      El total a obtener es:       $<b>{{movements.goalTotal}}</b></a></span>
              </div>
              <div style="margin-top: 25px; text-align: -webkit-center;">
                <span>La paciencia es amarga, pero su fruto es dulce <a><i>Jean Jacques Rosseau</i></a></span>
              </div>
              <div style="margin-top: 20px;">
                <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                  <tbody>
                    <dom-repeat items="{{movements.goals}}">
                      <template>
                        <tr>
                          <td class="pl-0 py-8" style="min-width: 250px; vertical-align: middle;">
                            <span class="text-muted font-weight-bold d-block">[[item.dscription]]</span>
                          </td>
                          <td style="min-width: 125px; vertical-align: middle;">
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$[[item.milestone]]</span>
                          </td>
                        </tr>
                      </template>
                    </dom-repeat>
                  </tbody>
                </table>
              </div>
              <!--end::Table-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    class Prediction extends Polymer.Element {
      static get is() { return 'my-prediction'; }
      static get properties() {
        return {
          movements: {
            type: Array,
            notify: true
          },
          person_id: {
            type: Number,
            notify: true
          },
          numMonths: {
            type: Number,
            notify: true
          }
        };
      }

      created() {
        if (!!localStorage.getItem("isLoged")) {
          super.created();
        } else {
          window.location = "/login";
        }
      }

      ready() {
        super.ready();
        this.person_id = localStorage.getItem("person");
        this.getPrediction();
      }

      getPrediction() {
        var request = new XMLHttpRequest()
        console.log(this.person_id);
        var URL = "http://localhost:3000/v2/Prediction/" + this.person_id
        request.open("GET", URL, false)
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movements = JSON.parse(request.responseText);
        this.numMonths = this.movements.data.length;
        this.createChart();
      }

      createChart() {
        var options = {
          chart: {
            type: 'area',
            toolbar: {
              show: false
            }
          },
          series: [{
            name: 'Prediccion',
            data: this.movements.data
          }],
          xaxis: {
            categories: this.movements.cat
          },
          stroke: {
            curve: 'smooth',
          }
        }
        var component = this.shadowRoot.querySelector('#idChartPred')
        console.log(component);
        var chart = new ApexCharts(component, options);
        chart.render();
      }
    }

    window.customElements.define(Prediction.is, Prediction);
  </script>
</dom-module>