<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../js/paper-progress/paper-progress.html">

<dom-module id="my-profile">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .profile_img {
        height: 100px;
        width: 150px;
        max-width: auto;
      }

      .mb-9 {
        margin-bottom: 2.25rem !important;
      }

      .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
      }

      .flex-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
      }

      .mr-7 {
        margin-right: 1.75rem !important;
      }

      .mt-lg-0 {
        margin-top: 0 !important;
      }

      .mt-3 {
        margin-top: 0.75rem !important;
      }

      .symbol {
        display: inline-block;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        position: relative;
        border-radius: 0.42rem;
      }

      .symbol-lg-120 {
        width: 120px;
      }

      .profileImage {
        width: 120px;
      }

      .font_profile {
        font-family: Poppins, Helvetica, "sans-serif";
        font-size: 1.25rem !important;
        color: #3F4254 !important;
        font-weight: 500 !important;
        margin-right: 0.75rem !important;
        outline: 0 !important;
        text-decoration: none;
      }

      .icon_profile {
        width: 15px;
        margin-right: 5px;
        padding-top: 10px;
      }

      .balanceData{
        margin-right: 20px;
      }
    </style>

    <div class="card card-custom gutter-b">
      <div class="card-body">
        <!--begin::Details-->
        <div class="d-flex mb-9">
          <!--begin: Pic-->
          <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
            <div class="symbol symbol-50 symbol-lg-120">
              <img class="profileImage"
                src="https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/users/300_1.jpg"
                alt="image">
            </div>
          </div>
          <!--end::Pic-->
          <!--begin::Info-->
          <div class="flex-grow-1">
            <!--begin::Title-->
            <div class="d-flex justify-content-between flex-wrap mt-1">
              <div class="d-flex mr-3">
                <a class="font_profile">[[user.first_name]]
                  [[user.last_name]]</a>
              </div>
            </div>
            <!--end::Title-->
            <!--begin::Content-->
            <div class="d-flex flex-wrap justify-content-between mt-1">
              <div class="d-flex flex-column flex-grow-1 pr-8">
                <div class="d-flex flex-wrap mb-4">
                  <a class="font_profile">
                    <img src="https://image.flaticon.com/icons/svg/126/126516.svg"
                      class="icon_profile"></i>{{user.email}}</a>
                </div>
              </div>
            </div>
            <!--end::Content-->
            <!--begin::Content-->
            <div class="d-flex flex-wrap justify-content-between mt-1">
              <div class="d-flex flex-column flex-grow-1 pr-8">
                <div class="d-flex flex-wrap mb-4">
                  <a class="font_profile">
                    <img src="https://image.flaticon.com/icons/svg/126/126509.svg"
                      class="icon_profile"></i>{{user.phone}}</a>
                </div>
              </div>
            </div>
            <!--end::Content-->
            <!--begin::Content-->
            <div class="d-flex flex-wrap justify-content-between mt-1">
              <div class="d-flex flex-column flex-grow-1 pr-8">
                <div class="balanceData">
                  <span class="font-weight-bolder font-size-sm">Balance: </span>
                  <span class="font-weight-bolder font-size-h5">
                    <span class="text-dark-50 font-weight-bold">$</span>{{finData.balance}}</span>
                </div>
              </div>
              <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
                <span class="mr-4">
                  <i class="flaticon-piggy-bank display-4 text-muted font-weight-bold"></i>
                </span>
                <div class="balanceData">
                  <span class="font-weight-bolder font-size-sm">Ganancias: </span>
                  <span class="font-weight-bolder font-size-h5">
                    <span class="text-dark-50 font-weight-bold">$</span>{{finData.input}}</span>
                </div>
              </div>
              <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
                <span class="mr-4">
                  <i class="flaticon-confetti display-4 text-muted font-weight-bold"></i>
                </span>
                <div class="balanceData">
                  <span class="font-weight-bolder font-size-sm">Gastos: </span>
                  <span class="font-weight-bolder font-size-h5">
                    <span class="text-dark-50 font-weight-bold">$</span>{{finData.output}}</span>
                </div>
              </div>
            </div>
            <!--end::Content-->
          </div>
          <!--end::Info-->
        </div>
        <!--end::Details-->
        <div class="separator separator-solid"></div>
        <!--begin::Items-->
        <div class="d-flex align-items-center flex-wrap mt-8">
          <!--begin::Item-->
          <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
            <span class="mr-4">
              <i class="flaticon-pie-chart display-4 text-muted font-weight-bold"></i>
            </span>
            <div class="balanceData">
              <span class="font-weight-bolder font-size-sm">Meta: </span>
              <span class="font-weight-bolder font-size-h5">
                <span class="text-dark-50 font-weight-bold">$</span>{{finData.goalN}}</span>
            </div>
          </div>
          <!--end::Item-->
          <!--begin::Item-->
          <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
            <span class="mr-4">
              <i class="flaticon-pie-chart display-4 text-muted font-weight-bold"></i>
            </span>
            <div class="balanceData">
              <span class="font-weight-bolder font-size-sm">Progreso: </span>
              <span class="font-weight-bolder font-size-h5">
                <span class="text-dark-50 font-weight-bold"></span>{{finData.goalP}}%</span>
            </div>
          </div>
          <!--end::Item-->
          <!--begin::Item-->
          <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
            <span class="mr-4">
              <i class="flaticon-pie-chart display-4 text-muted font-weight-bold"></i>
            </span>
            <div class="balanceData">
              <span class="font-weight-bolder font-size-sm">Objetivos: </span>
              <span class="font-weight-bolder font-size-h5">
                <span class="text-dark-50 font-weight-bold"></span>{{finData.goals}}</span>
            </div>
          </div>
          <!--end::Item-->
        </div>
        <!--begin::Items-->
      </div>
    </div>

  </template>

  <script>
    class Profile extends Polymer.Element {
      static get is() { return 'my-profile'; }
      static get properties() {
        return {
          user: {
            type: Object,
            notify: true
          },
          finData: {
            type: Object,
            notify: true
          },
          person_id: {
            type: Number,
            notify: true
          }
        };
      }

      created() {
        if (!!localStorage.getItem("isLoged")) {
          super.created();
        } else {
          window.location = "/login";
        }
      }

      ready() {
        super.ready();
        this.person_id = localStorage.getItem("person");
        this.getProfile();
      }

      getProfile() {
        var request = new XMLHttpRequest()
        var URL = "http://localhost:3000/v2/Users/" + this.person_id
        request.open("GET", URL, false)
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.user = JSON.parse(request.responseText);
        this.getBalance();
      }

      getBalance() {
        var request = new XMLHttpRequest()
        var URL = "http://localhost:3000/v2/finxstats/" + this.person_id
        request.open("GET", URL, false)
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.finData = JSON.parse(request.responseText);
      }

    }


    window.customElements.define(Profile.is, Profile);
  </script>
</dom-module>