<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-register">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Informacion personal</div>
      <input type="text" id="idName" class="form-control" placeholder="Nombre">
      <input type="text" id="idLname" class="form-control" placeholder="Apehidos">
      <input type="text" id="idCorreo" class="form-control" placeholder="Correo">
      <input type="text" id="idDate" class="form-control" placeholder="Fecha de nacimiento">
      <input type="text" id="idPhone" class="form-control" placeholder="Telefono">
      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña">
    </div>
    <div class="card">
      <div class="circle">Tu cuenta</div>
      <input type="text" id="idCardNum" class="form-control" placeholder="Numero de tarjeta">
      <input type="text" id="idDateValid" class="form-control" placeholder="Fecha de vencimiento">
    </div>
  </template>

  <script>
    class Register extends Polymer.Element {
      static get is() { return 'my-register'; }
    }

    window.customElements.define(Register.is, Register);
  </script>
</dom-module>