<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-status">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="row">
      <div class="col-lg-6">
        <div class="card card-custom card-stretch gutter-b">
          <div class="circle">$</div>
          <div id="idChart"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-custom card-stretch gutter-b">
          <div class="card-body pt-0 pb-3">
            <div class="tab-content">
              <!--begin::Table-->
              <div class="table-responsive">
                <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                  <thead>
                    <tr class="text-left text-uppercase">
                      <th style="min-width: 250px" class="pl-7">
                        <span class="text-dark-75">Motivo</span>
                      </th>
                      <th style="min-width: 125px">Cantidad</th>
                      <th style="min-width: 125px">Fecha</th>
                      <th style="min-width: 125px">Cuenta</th>
                    </tr>
                  </thead>
                </table>
                <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                  <tbody>
                    <dom-repeat items="{{movements}}">
                      <template>
                        <tr>
                          <td class="pl-0 py-8" style="min-width: 250px; vertical-align: middle;">
                            <span class="text-muted font-weight-bold d-block">[[item.description]]</span>
                          </td>
                          <td style="min-width: 125px; vertical-align: middle;">
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$[[item.quantity]]</span>
                          </td>
                          <td style="min-width: 125px; vertical-align: middle;">
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">[[item.date]]</span>
                          </td>
                          <td style="min-width: 125px; vertical-align: middle;">
                            <span
                              class="text-dark-75 font-weight-bolder d-block font-size-lg">[[item.account_code]]</span>
                          </td>
                        </tr>
                      </template>
                    </dom-repeat>
                  </tbody>
                </table>
              </div>
              <!--end::Table-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    class Status extends Polymer.Element {
      static get is() { return 'my-status'; }
      static get properties() {
        return {
          movements: {
            type: Array,
            notify: true
          },
          perBalance: {
            type: Object,
            notify: true
          },
          person_id: {
            type: Number,
            notify: true
          }
        };
      }

      ready() {
        super.ready();
        this.person_id =localStorage.getItem("person");
        this.getMovements();
      }

      created() {
        if (!!localStorage.getItem("isLoged")) {
          super.created();
        } else {
          window.location = "/login";
        }
      }

      getMovements() {
        var request = new XMLHttpRequest()
        var requestb = new XMLHttpRequest()
        var URL = "http://localhost:3000/v2/Movements/" + this.person_id
        request.open("GET", URL, false)
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movements = JSON.parse(request.responseText);
        var URLB = "http://localhost:3000/v2/Accounts/balance/" + this.person_id
        requestb.open("GET", URLB, false)
        requestb.setRequestHeader("Accept", "application/json");
        requestb.send();
        this.perBalance = JSON.parse(requestb.responseText);
        this.createChart();
      }

      createChart() {
        var aux = [];
        this.movements.forEach(element => {
          if (!aux[element.date]) {
            aux[element.date] = element.quantity;
          } else {
            aux[element.date] = aux[element.date] + element.quantity;
          }
        });
        var balance = this.perBalance.balance;
        var valByDate = [];
        var dates = [];
        var d = new Date();
        var tempBalance = balance;
        for (var i = 33; i > 0; i--) {
          var fDate = this.formatDate(d);
          dates.push(fDate);
          if (!!aux[fDate]) {
            tempBalance += aux[fDate];
          }
          valByDate.push(tempBalance);
          d = new Date(d.setDate(d.getDate() - 1));
        }
        var options = {
          chart: {
            type: 'area',
            toolbar: {
              show: false
            }
          },
          series: [{
            name: 'Balance',
            data: valByDate
          }],
          xaxis: {
            categories: dates
          },
          stroke: {
            curve: 'smooth',
          }
        }
        var component = this.shadowRoot.querySelector('#idChart')
        console.log(component);
        var chart = new ApexCharts(component, options);
        chart.render();
      }

      formatDate(date) {
        var d = new Date(date),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();
        if (month.length < 2)
          month = '0' + month;
        if (day.length < 2)
          day = '0' + day;
        return [year, month, day].join('-');
      }
    }

    window.customElements.define(Status.is, Status);
  </script>
</dom-module>