.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #01a8d1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    background: rgba(48, 46, 45, 1);
      z-index: 9999;
  }
  .form input {
    font-family: 'Open Sans', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    outline: 0;
    background: #000266;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  button span {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .form .message {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    font-family: 'Open Sans', sans-serif;
    color: #e84c3d;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    background-size: 100%
  }
  
  .dropdown-wrapper{
      background-color: white;
      text-decoration: none;
      padding: 0.45em;
  }
  
  .dropdown.dropdown-language{
      list-style: none;
      text-align: left;
  }
  
  .dropdown-toggle{
        text-decoration: none;
        color: #000;
        padding-left: .8em;
        padding-right: 10em;
  }
  
  .dropdown-toggle::after {
   
    margin-left: 0.9em;
  
  }
  
  .dropdown-menu{
    width: 22em;
  }